---

import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "kii Blog"

---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle} Home</h1>
  <p>このブログはAstroのテストサイトです。</p>
</BaseLayout>



